/* Container for orders list */
.orders-container {
    background-color: #eeeeee; /* Light gray background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Search bar styling */
.search-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #dddddd; /* Light gray border */
    border-radius: 4px;
    font-size: 16px;
    flex: 1;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #00868b; /* Dark teal */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #005f5f; /* Slightly darker teal */
}

/* Table styling */
.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th, .orders-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dddddd; /* Light gray border */
}

.orders-table th {
    background-color: #00868b; /* Turquoise */
    color: white;
    
}

.orders-table tbody tr:hover {
    background-color: #dddddd; /* Light gray */
}

/* Actions buttons */
.actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions .download-button {
    margin: 10px ;
    background-color: #00868b; /* Dark teal */
    color: white;
}

.actions .download-button:hover {
    background-color: #005f5f; /* Slightly darker teal */
}

.actions .send-button {
    background-color: #40e0d0; /* Turquoise */
    color: white;
}

.actions .send-button:hover {
    background-color: #2d9a9a; /* Slightly darker turquoise */
}
